
<h1 class="clickable" [routerLink]="['']">Coin Cap Api Test</h1>
<!-- This will be the home component with a nav bar and a nav bar output for each individual section-->
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>All Assets</a>
    <ng-template ngbNavContent>
      <app-assets></app-assets>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>About</a>
    <ng-template ngbNavContent>
      <app-about></app-about>
    </ng-template>
  </li>
</ul>

<!-- The router outlet is just really for the AssetDetail card, but could in theory be expanded on if needed -->
<router-outlet></router-outlet>
<!-- The Nav outlet will display any content from the nav bar-->
<div [ngbNavOutlet]="nav" class="mt-2"></div>
